/* *************** CSS MOBILE FISRT *************** */
/* Mobile < 427px */
nav{
    background-color: var(--color-primary);
    width: 100%;
    
    .container{padding: 0;}

    #navHeader{
        position: relative;
        z-index: 3;
        background-color: var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 70px;

        #navHeaderLink{
            display: flex;
            align-items: center;
            text-decoration: none;

            #navHeaderLinkImg{
                margin: 10px;
                width: 40px;
            }

            h1{display: none;}
        }

        #navHeaderBtnBurger{
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-right: 25px;

            img{
                width: 35px;
            }
        }
    }

    #navDivMenu{
        position: fixed;
        z-index: 1;
        height: 40%;
        width: 100%;
        top: -40%;
        background-color: var(--color-primary);
        transition: top 0.5s ease;
        padding-top: 70px;

        ul{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-top: 3px solid var(--color-secondary);
        }

        li{
            display: flex;
            place-content: center;
            /* padding: 8px 8px 8px 32px; */
        }

        a{
            text-transform: uppercase;
        }
    }

    #navDivMenu.active{top: 0;}
}

#btnNav{
    img{
        display: none;
    }
}


/* *************** CSS Tablette *************** */
/* Tablette ≥ 426px */
@media screen and (min-width: 426px) {
}

/* *************** CSS LapTop *************** */
/* LapTop (NoteBock) ≥ 769px */
@media screen and (min-width: 769px) {     
    nav{
        display: block;

        .container{display: flex;}
        
        #navHeader{
            height: 110px;

            #navHeaderLink{
                #navHeaderLinkImg{
                    width: 70px;
                }

                h1{display: flex;}
            }

            #navHeaderBtnBurger{
                img{
                    width: 50px;
                }
            }
        }

        #navDivMenu{
            padding-top: 110px;
        }
    }
}

/* *************** CSS Desktop *************** */
/* Desktop ≥ 1025px */
@media screen and (min-width: 1025px) {
    nav{
        #navHeader{
            z-index: 0;

            #navHeaderBtnBurger{display: none;}
        }

        #navDivMenu{
            position: static;
            padding-top: 0;
            height: 110px;

            ul{
                flex-direction: row;
                align-items: center;
                border-top: none;
            }

            .off{display: none;}

            a{
                text-transform: none;
            }
        }

        #navDivMenu.active{top: 0;}
    }

    #btnNav{
        padding: 12px 24px;
        border-radius: 3px;
        transition: 0.5s;
        display: flex;
        gap: 8px;
        background-color: var(--color-background-secondary);
        color: var(--color-text-primary);

        img{
            display: flex;
            width: 20px;
            filter: brightness(0) saturate(100%) invert(17%) sepia(35%) saturate(667%) hue-rotate(333deg) brightness(95%) contrast(94%);
        }
    }

    #btnNav:hover{background-color: var(--color-accent);}
}